@import '../../styles/mixins/global.scss';


.bannerMain {
    background-image: url(../../public/assets/bgbanner.png);
    background-repeat: no-repeat;

    .bannerbox {
        padding-top: map-get($size, md) * 2.5;

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;

            @include breakpoint ("max-md") {
                grid-template-columns: repeat(1, 1fr);
                gap: 40px;
            }

            .bannerTextbox {
                padding-left: 50px;
                @media (max-width:991px) {
                    padding-left: 0;
                }
                h5 {
                    @include heading-3;
                    font-size: 38px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: map-get($colors , themecolor);
                    line-height: 45px;
                    font-family: 'Playfair Display';
                    @include breakpoint ("max-md") {
                        font-size: map-get($size, md ) * 2.7;
                       line-height: map-get($size, md ) * 3.2;
                    }
                }

                h4 {
                    @include heading-3;
                    font-size: 38px;
                    margin: map-get($size, md) * 1.5 0;
                    font-family: 'Playfair Display';

                    @include breakpoint ("max-md") {
                        font-size: map-get($size, md ) * 2.7;
                    }
                }

                p {
                    @include text-md;
                    font-size: 20px;
                    color: map-get($colors, gray);
                    font-family: 'Montserrat';

                    @include breakpoint ("max-md") {
                        font-size: 16px
                    }
                }

                .buttongrop {
                    margin-top: map-get($size, md) * 2.5;
                    @include flex-center;

                    @include breakpoint ("max-md"){
                    margin-top: map-get($size, md) * 1.5;

                    }
                    
                    button {
                        border: 1px solid map-get($colors, themecolor);
                        padding: 9px 25px;
                        border-radius: 28px;
                        background-color: map-get($colors, themecolor);
                        @include breakpoint ("max-md"){
                            padding: 6px 14px;
                        }
                        span {
                            @include text;
                            color: map-get($colors, white);
                        }

                        &:last-child {
                            margin-left: 15px;
                            background-color: transparent;
                            border: 1px solid #000;
                            display: flex;

                            span {
                                color: #000;
                            }

                            i {
                                font-size: 22px;
                                margin-left: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.carousel-control-prev span{
    background-color: #000 !important;
  }